* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  background-color: hsl(31, 77%, 52%);
  padding: 10px;
  border: hsl(0, 0%, 95%);
  font-size: 30px;
  width: 100px;
  margin: 5px 2px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 95%);
  border: 0.5px solid hsl(0, 0%, 95%);
  padding: 3px 5px;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 0px;
  grid-auto-flow: column;
}

main div {
  margin-top: 40px;
  width: 375px;
  text-align: left;
  padding: 50px 60px;
  height: 70vh;
}

.iteam1 {
  background-color: hsl(31, 77%, 52%);
  grid-column: 1 / span 1;
}
.iteam1 button {
  color: hsl(31, 77%, 52%);
}

.iteam2 {
  background-color: hsl(184, 100%, 22%);
  grid-column: 2 / span 1;
}
.iteam2 button {
  color: hsl(184, 100%, 22%);
}

.iteam3 {
  background-color: hsl(179, 100%, 13%);
  grid-column: 3 / span 1;
}
.iteam3 button {
  color: hsl(179, 100%, 13%);
}

.h1 {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Big Shoulders Display";
  margin: 50px 0px;
  font-weight: 700;
}

.p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca";
  letter-spacing: 1.5px;
  line-height: 1.9;
  font-weight: 400;
  font-size: 15px;
}

.btn {
  border-radius: 100px;
  border: none;
  padding: 15px 35px;
  font-size: 15px;
  margin: 70px 0px;
  cursor: pointer;
  font-weight: 700;
}
.btn:active {
  color: hsl(0, 0%, 95%);
  background: none;
  border: 2px solid hsl(0, 0%, 95%);
}
/* Mobile View */
